@import url("highlight.js/styles/base16/solarized-dark.css") screen and (prefers-color-scheme: dark);
@import url("highlight.js/styles/base16/solarized-light.css") screen and (prefers-color-scheme: light);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&family=Saira:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	text-wrap: balance;
	font-family: "Montserrat", sans-serif;
}

p {
	max-width: 40em;
}

img {
	max-width: 100%;
	height: auto;
	width: auto !important;
}

.v-expansion-panel-text__wrapper {
	padding-block-end: 0 !important;
}
